##################################
# Terraform
##################################
Apuntes
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
node_modules/
backend-artifact/node_modules
backend-artifact
##################################
# Terraform Backend Lock
##################################
.terraform.lock.hcl
.secrets
##################################
# Environment files
##################################
.env
.env.*

##################################
# OS / Editor junk
##################################
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

##################################
# Logs
##################################
*.log

##################################
# Sensitive documentation exports
##################################
docs/**/*.zip
docs/**/*.tar.gz
