name: Terraform CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  terraform-ci:
    name: Terraform CI
    runs-on: self-hosted
    strategy:
      matrix:
        env: [dev] # o [dev, stage, prod]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Init (local backend)
        run: terraform init -backend=false
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Plan (local)
        run: terraform plan -input=false
        working-directory: envs/${{ matrix.env }}
